---
import MainLayout from "../layouts/MainLayout.astro"


---
  

  <MainLayout >
   
    <div class="pt-3 overflow-hidden">
      <div class="py-3">
         <h4 class="display-5 section-title">Partners and Organisers</h4>
      </div>


        <div class="container text-center my-3" style="height:100px;">

          <div id="recipeCarousel" class="carousel slide w-full" x-data="{slide: 0}" x-init="() => { setInterval(() => slide = (slide + 1) % 2, 5000) }" data-ride="carousel">
            <div class="carousel-inner w-full" role="listbox">
                <div class="carousel-item row no-gutters" :class="{ 'carousel-item-next': slide === 1, 'carousel-item-left': slide === 1 }">
                    <div class="col-3 float-left">
                        <a href="http://iitb.ac.in/" target="_blank">
                            <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/iitb-logo.png" class="w-full" alt="IITB" height="100px">
                        </a>
                    </div>
                    <div class="col-3 float-left">
                        <a href="https://fossee.in" target="_blank">
                            <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/fossee-logo.png" class="w-full" alt="FOSSEE" height="100px">
                        </a>
                    </div>
                    <div class="col-3 float-left">
                        <a href="https://spoken-tutorial.org/" target="_blank">
                            <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/st-logo.png" class="w-3/4" alt="Spoken Tutorial">
                        </a>
                    </div>
                    <div class="col-3 float-left">
                        <a href="http://www.icfoss.in/" target="_blank">
                            <img class="w-3/5" alt="icfoss" src="https://iot-gis-hackathon.fossee.in/static/cms/uploads/images/icfoss-logo.png">
                        </a>
                    </div>
                </div>
                <div class="carousel-item row no-gutters active" :class="{ 'carousel-item-left': slide === 0 }">
                    <div class="col-3 float-left">
                        <a href="http://www.rudra.iitb.ac.in/" target="_blank">
                            <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/rudra-logo.png" class="w-1/3" alt="Rudra">
                        </a>
                    </div>
                    <div class="col-3 float-left">
                        <a href="https://www.iittp.ac.in/" target="_blank">
                            <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/iit-tirupati.png" class="w-1/2" alt="IIT Tirupati">
                        </a>
                    </div>
                    <div class="col-3 float-left">
                        <a href="https://iittnif.com/" target="_blank">
                            <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/navavishkaar.png" class="w-3/4" alt="IITTNiF">
                        </a>
                    </div>
                    <div class="col-3 float-left">
                        <a href="https://nmicps.in/" target="_blank">
                            <img src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/NM-ICPS-logo1.png" class="w-1/4" alt="NMICPS">
                        </a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev text-danger" href="#recipeCarousel" role="button" data-slide="prev" @click="slide--">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next" @click="slide++">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        

</div>

<div>
        <p class="text-justify"><strong>Main Organizer: IIT Bombay FOSSEE GIS &amp; OSHW project (NMEICT, Ministry of Education, Government of India)</strong>
&nbsp;The IIT Bombay FOSSEE GIS &amp; OSHW project teams are the main organizers of this National Level Geospatial IoT Hackathon 2024 (Edition 01). FOSSEE promotes the usage of Free/Libre Open Source Software in academia and industry and is funded through the National Mission on Education through ICT, Ministry of Education, Government of India.</p>
        </div>
<div>
        <p class="text-justify"><strong>Technical Partner:</strong>
&nbsp;The Rural Data Research and Analysis (RuDRA) Lab, IIT Bombay is India's first HPC-powered data center dedicated to Rural Development.</p>
        </div>     
<div>
        <p class="text-justify">
  <strong>  Organizing Partners: IITTNiF (NM-ICPS, DST, Government of India) &amp; ICFOSS (Government of Kerala):</strong>
&nbsp;
The <strong>IIT Tirupati Navavishkar I-Hub Foundation</strong> is the Technology Innovation Hub of IIT Tirupati specializing in Positioning and Precision Technologies, funded through the National Mission on Interdisciplinary Cyber-Physical System (NM-ICPS), Department of Science and Technology, Government of India.

<strong>ICFOSS: The International Centre for Free and Open Source Software (ICFOSS) is an autonomous organization set up by the Government of Kerala, India,</strong> and has the combined mandate of popularizing Free and Open Source Software for universal use; consolidating the early FOSS work done in Kerala; and networking with different nations, communities, and governments to collaboratively promote FOSS</p></div>
   

         </div>

</MainLayout>
