<section class="bg-[#1D1D1D] text-gray-100 py-32 min-h-screen">
  <div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
    <h2 class="mb-12 text-4xl font-bold leadi text-center sm:text-5xl">Frequently Asked Questions</h2>
    <div class="flex flex-col divide-y sm:px-8 lg:px-12 xl:px-32 divide-gray-700">
      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">Will the winners of the 'National OpenHardware-IoT Geospatial Hackathon 2024' receive any refund or is there any prize/ award given?</summary>
        <div class="px-4 pb-4">
          <p>As this is a national-level activity, supported through the FOSSEE project, National Mission on Education through ICT (NMEICT), the prospective winners shall be given ‘prizes/awards ONLY’, based on their performance, category-wise (themes). The winners shall also be eligible for applying to the coveted “IIT Bombay FOSSEE Geospatial + OpenHardware Internship & Summer Fellowship 2024”, and other flagship activities.</p>
        </div>
      </details>
      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">Is there any filtration before starting the hackathon?</summary>
        <div class="px-4 pb-4">
          <p>Yes, there is a filtration process in place which shall review all the proposals before allowing the individual participant/ team(s) into the main phase of the “National Level OpenHardware-IoT based Geospatial Hackathon”. The aspirants must (i) register themselves/ their team, (ii). Upload their proposal, (iii). The core organizing committee (IIT Bombay FOSSEE GIS/OSHW + IITTNiF + ICFOSS) will evaluate the proposals, (iv). Accepted proposals shall be informed via email.</p>
          <p>Note: The project proposals are reviewed by the core committee and shall ensure their alignment with the hackathon's theme and objectives</p>
        </div>

      </details>
      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">Can we use any proprietary hardware for other components if the open source is not available for that item?</summary>
        <div class="px-4 pb-4">
          <p>Participants are permitted to utilize proprietary hardware or components in the absence of open-source alternatives. This should not exceed 40%. However, they (participating team(s)/ individuals) must adhere to any licensing agreements or restrictions related to proprietary technologies. It is to be noted and essential that all designs and code submitted must adhere to the CC-BY-SA license requirements.</p>
        </div>
      </details>
      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What are the judging criteria for project evaluation?</summary>
        <div class="px-4 pb-4">
          <p>The judging criteria typically include factors such as novelty, methodology, innovation, technical implementation, usability, impact, and presentation (report) quality. Each project is evaluated based on these criteria to determine the winners.</p>
        <p>Note: The project proposal and final submissions must adhere to the mandates laid by the “IIT Bombay FOSSEE GIS team” at all times. By participating in the “National Level OpenHardware-IoT based Geospatial Hackathon” the teams agree that the decision taken by the ‘Core Organizing Committee’ and/or the ‘IIT Bombay FOSSEE GIS & OSHW’ team(s) shall be final and non-appealable.</p>
        </div>
      </details>
      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline"> Is there a registration fee to participate in the hackathon?</summary>
        <div class="px-4 pb-4">
          <p>NO! Participation in the “National Level OpenHardware-IoT based Geopstial Hackathon” is completely ‘FREE OF COST/ NO FEE”.</p>
        </div>
      </details>
      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">How will the hackathon be conducted? Is it an online event or will there be physical venues?</summary>
        <div class="px-4 pb-4">
          <p>The main phase of the “National Level OpenHardware-IoT based Geospatial Hackathon” will exclusively take place in ‘ONLINE MODE’ only.</a>.</p>
        <p> Note: The ‘Grand Finale’ of the “National Level OpenHardware-IoT based Geospatial Hackathon” shall be conducted in offline mode. For the ‘Grand Finale’ only the teams shortlisted for the final stage/ round will be invited to participate.</p>
        </div>
      </details>
      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What level of expertise in IoT and geospatial technologies is expected from participants?</summary>
        <div class="px-4 pb-4">
          <p>Participants/ Team(s) with varying levels of expertise in IoT and geospatial technologies are welcome to participate. The hackathon shall serve as a platform for beginners, intermediate, and advanced-level participants, with lots of opportunities to learn and collaborate.</a>.</p>
        </div>
      </details>






      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">Can participants use pre-existing IoT devices or hardware prototypes for their projects, or do they need to develop new solutions from scratch?</summary>
        <div class="px-4 pb-4">
          
          
          <p>The participants/ participating team(s) are encouraged to develop their solutions/ prototypes from scratch. But, to spread awareness about “OpenSource Hardware-IoT’ and ‘GIS’ technologies in all domains, we encourage the students cutting across domains to give it a try. Hence, we do allow participants to use pre-existing IoT devices or hardware prototypes for their projects, as long as they meet the project requirements and objectives. All designs and code submitted must adhere to the CC-BY-SA license requirements.</p>
          <p> Note: The decision of the ‘Core Organizing Committee’ of the National Level OpenHardware-IoT based Geospatial Hackathon, and/or the ‘IIT Bombay FOSSEE GIS & OSHW’ team(s) shall be final and non-appealable, in all circumstances.</p>
        </div>

      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>


      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>


      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>


      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>


      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>


      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>


      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>


      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>

      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What is your customer support contact?</summary>
        <div class="px-4 pb-4">
          <p>If you have any questions, concerns, or need assistance, you can reach our customer support team at 9911083755 during our business hours, Monday to Saturday from 10 am to 6 pm. You can also contact us via email at <a href="" class="underline">example@gmail.com</a>.</p>
        </div>
      </details>



      <details>
        <summary class="py-2 outline-none cursor-pointer focus:underline">What are your terms and conditions?</summary>
        <div class="px-4 pb-4">
          <p>You can find our detailed terms and conditions by visiting our 
            <a href="" class="underline">Terms of Service</a> 
            page on our website. It includes information about our policies, user guidelines, and more.</p>
        </div>
      </details>
    </div>
  </div>
</section>
