
<footer class="  static bottom-0 w-full bg-blue-500 text-white ">
<div class="footer-content  ">
  <div class="footer-content">
      <section id="footer" class="site-footer">
          <footer class="container-fluid py-5 site-footer pl-5 pr-4">
              <div class="grid grid-cols-1 sm:grid-cols-3">
                  <div class="col-span-1 sm:col-span-1">
                      <h5 class="text-white">About</h5>
                      <ul class="list-unstyled text-sm text-muted">
                          <li><a href="https://www.iitb.ac.in/" target="_blank">IIT Bombay</a></li>
                          <li><a href="https://fossee.in/" target="_blank">FOSSEE</a></li>
                          <li><a href="https://www.iittnif.org" target="_blank">IITTNiF</a></li>
                          <li><a href="https://spoken-tutorial.org" target="_blank">Spoken Tutorial</a></li>
                      </ul>
                  </div>
                  <div class="col-span-1 sm:col-span-1">
                      <h5 class="text-black">Resources</h5>
                      <ul class="list-unstyled text-sm text-muted">
                          <li><a href="https://qgis.org/en/site/forusers/download.html" target="_blank">QGIS</a></li>
                          <li><a href="https://spoken-tutorial.org/tutorial-search/?search_foss=QGIS&amp;search_language=English" target="_blank">Spoken Tutorials - FOSSEE - QGIS</a></li>
                      </ul>
                  </div>
                  <div class="col-span-1 sm:col-span-1">
                      <small class="block mb-3 text-muted">
                          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://iitb-isro-aicte-mapathon.fossee.in/static/cms/uploads/images/88x31.png"></a><br>
                          <span class="text-black">This work is licensed under a </span>
                          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                      </small>
                  </div>
              </div>
          </footer>
      </section>
  </div>
</div>
</footer>