---
import Intro from "./Intro.astro"
import Purpose from "./Purpose.astro"
import RegisterBox from "./RegisterBox.astro"
---



<div class="relative flex justify-center">
     <div class="box-content  p-4 border-4" style="width: 1000px;">

<Intro/>
<Purpose/>
<RegisterBox/>

      </div>
      </div>