<div class="m-3 dates p-3">
  <p class="important-dates"><strong>Registration opens: </strong>April 29, 2023</p>
  <p class="important-dates"><strong>Registration closes: </strong>June 10, 2024</p>
  <p class="important-dates"><strong>Hackathon start date : </strong>June 12, 2024</p>
  <p class="important-dates"><strong>Result Declaration:</strong> July 31, 2024</p>
  <a href="">
    <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Register</button>
  </a>
</div>
