


<div class=" flex flex-row  flex-auto justify-center container-sm">
    <div class="flex justify-center items-center p-2 pt-4 pb-1 ">
    <a href="http://iitb.ac.in/" class=" " >
    <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/iitb-logo.png" class="object-fill h-20 w-25 logos object-cover  "  alt=" mapathon pic">
</a>
</div>

<div class="flex justify-center items-center p-2 pt-4 pb-1 ">
   
    <a href="https://fossee.in" target="_blank" class="">
        <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/fossee-logo.png" class="object-fill h-20 w-40 logos object-cover  " alt="FOSSEE">
    </a>
</div>
<div class="flex justify-center items-center p-2 pt-4 pb-1">
    <a href="http://www.rudra.iitb.ac.in/" target="_blank" class="">
        <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/rudra-logo.png" class="object-fill h-20 w-20 logos object-cover  " alt="Rudra">
    </a>
</div>



<div class="flex justify-center items-center p-2 pt-4 pb-1 ">
    <a href="https://www.iittp.ac.in/" target="_blank">
        <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/iit-tirupati.png" class="object-fill h-20 w-40 logos object-cover  " alt="IIT Tirupati">
    </a>
</div>
<div class="flex justify-center items-center p-2 pt-4 pb-1 ">
    <a href="https://iittnif.com/" target="_blank">
        <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/navavishkaar.png" class="object-fill h-20 w-40 logos object-cover  " alt="IITTNiF">
    </a>
</div>
<div class="flex justify-center items-center p-2 pt-4 pb-1 ">
    <a href="https://nmicps.in/" target="_blank">
        <img src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/NM-ICPS-logo1.png" class="object-fill h-20 logos object-cover  " alt="NMICPS">
    </a>
</div>
<div class="flex justify-center items-center p-2 pt-4 pb-1 ">
    <a href="#" target="">
        <img src="https://iot-gis-hackathon.fossee.in/static/cms/uploads/images/icfoss-logo.png" class="object-fill h-20 w-40 logos big-img object-cover  " alt="icfoss">
    </a>
</div>

<div class="p-2 pt-4 pb-1">
    <a href="https://spoken-tutorial.org" target="_blank">
       <img src="https://iitb-fossee-mapathon.fossee.in/static/cms/uploads/images/st-logo.png" class="object-fill h-20 w-40 logos big-img object-cover " alt="Spoken Tutorial">
    </a>
 </div>


</div>