<!-- <div class="view pt-5 pb-5" id="front">

  <div class="row d-flex align-items-center text-center">

     <div class="col-md-1">
</div>

     <div class="col-md-6 mx-1 order-md-3">
        <h2 style="color: #000080ff;">IIT Bombay-FOSSEE-GIS/OSHW, IITTNiF &amp; ICFOSS present</h2>
        <img src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/right-img.png" id="right-img">
       <div class="m-3 dates p-3">
        <p class="important-dates"><strong>Registration opens: </strong>April 29, 2023</p>
        <p class="important-dates"><strong>Registration closes: </strong>June 10, 2024</p>
       <p class="important-dates"><strong>Hackathon start date : </strong>June 12, 2024</p>
        <p class="important-dates"><strong>Result Declaration:</strong> July 31, 2024</p>
        <a href="home#register" class="custom-btn btn-register">Register</a>
      </a>
</div>
</div>
<div class="col-md-4 mx-1 order-md-1">
        <img src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/indiamap.png" id="left-img"> 
     </div>
     </div>
</div> -->

---
import Register from "./Register.astro"
---
<div class="grid grid-cols-2">
   <div class="col-span-1 flex justify-center items-center p-10"><img src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/indiamap.png" id="left-img"> </div>
   <div style="font-family: 'Roboto Slab', serif;">
      <h2 style="color: #000080ff;" class="items-center ">IIT Bombay-FOSSEE-GIS/OSHW, IITTNiF &amp; ICFOSS present</h2>
      <img src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/right-img.png" id="right-img" class="object-fill h-80 w-160 logos object-cover  " >
      <Register/>

  </div>

  
 </div>
 
<!-- <div  class=" inline-block   " >
   <div class="p-50 ">
      <img src="https://iot-gis-hackathon.fossee.org/static/cms/uploads/images/indiamap.png" id="left-img"> 
   </div>


</div> -->